{% extends 'base.html' %}
{% load static %}
{% block metadescriptions %}
     {% if category %}
         {{category.description|truncatewords:155}}
     {% else %}
         Welcome to ABC store where you can buy different items...
     {% endif %}
{% endblock %}
{% block title %}
     {% if category %}
         {{category.name}-ABC Store}
     {% else %}
         See our New Collections -ABC Store
     {% endif %}
{% endblock %}

{% block content %}
{% if category %}

   <div >
       <div class="row my_row_class">
           <div class="mx-auto">
           <p><a href="{% url 'app:allProdCat' %}">Our Product Collections</p>
       </div>
           </div>
   </div>
   {% endif %}
<div  class="mx_auto">
    {% if category %}
    <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
</div>
    <br>
<div>
    <h1 class="text-center  my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.descripition}}</p>
</div>
    {% else %}
<div>
<img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="our products" width="1250px;">
</div>
<br>
<div >
  <h1 class="text-center my_title" style="font-size: 36px; color: #333; margin-bottom: 20px;">Our Products Collections</h1><br/>
  <p class="text-justify" style="font-size: 18px; line-height: 1.5; color: #666;">Welcome to our ecommerce website! We're proud to offer a wide range of high-quality products that are perfect for shoppers looking for something special. Whether you're in the market for fashion, beauty, home goods, or something else, we've got you covered.</p>
  <p class="text-justify" style="font-size: 18px; line-height: 1.5; color: #666;">Our products are carefully curated to ensure that we only offer the best of the best. We work with top designers and suppliers to bring you products that are not only beautiful but also functional, durable, and made with quality materials.</p>
</div>
<br/>
    {% endif %}
    <div class="container">
        <div class="row mx-auto">
            {% for product in products.object_list %}
            <div class="my-bottom-margin col-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card text-center" style="min-width: 18rem;">
                    <a href="{{ product.get_url }}">
                        <img class="card-img-top my-image"  style="width: 90%;" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    <div class="card-body">
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.price }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if products.paginator.num_pages > 1 %}
        <br>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{ pg }}" class="btn btn-light btn-sm {% if products.number == pg %}active{% endif %}">
                {{ pg|stringformat:"s" }}
            </a>
            {% endfor %}
        </div>
        {% endif %}
        <br>
    </div>

    <br>
</div>
{% endblock %}
